<div class="jumbotron" align="center">
  <h1>Welcome to The Watchlist</h1>
  <p ><strong>A personal finance portfolio tracker</strong></p>
  <p><%= link_to "Quote Lookup", my_portfolio_path, class: "btn btn-success btn-lg" %></p>
</div>
