<footer class="footer">
  <small>
    Copyright &copy; <a href="#">The Watchlist</a> 2016
    - <a href="http://www.travis-shields.com" target="_blank"><strong>Travis Shields</strong></a>
  </small>
</footer>
